#father {
    background-color: blueviolet;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    border: thick;
    position: relative;

}

#chil8 {
    position: absolute;
    margin: 5px;
    right: 0;
    bottom: 0;
}

.text {
    font-weight: bold;
}

.chil {
    background-color: silver;
    margin: 5px;
    position: absolute;

    bottom: 0;
}

#chil2 {
    height: 80px;
    width: 20px;
    left: 30px;

}

#chil3 {
    height: 90px;
    width: 20px;
    left: 60px;
}

#chil4 {
    height: 30px;
    width: 20px;
    left: 90px;
}

#chil5 {
    height: 60px;
    width: 20px;
    left: 120px;
}

#chil6 {
    height: 40px;
    width: 20px;
    left: 150px;
}

#chil7 {
    height: 110px;
    width: 20px;
}